.app-body {
    min-height: 45vh;
    margin-top: 150px;
}

/* .mycontainer{
     
        font-family: "Ubuntu" , sans-serif ;
        font-size: 20px;
        color: var(--body-text-color);
    
} */