<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid exercitationem harum odit in accusantium earum tempore nihil, autem illum fugiat, necessitatibus temporibus delectus. Numquam sint ipsa repellat dolore iusto accusamus!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam atque magni, ab deserunt voluptas modi praesentium accusamus quis deleniti quidem quisquam ad quos assumenda nam laboriosam esse perspiciatis, mollitia labore.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, voluptas? Vitae voluptate vel omnis itaque eaque, blanditiis inventore ut autem repudiandae. Reprehenderit possimus vitae adipisci molestiae earum voluptates doloremque a.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme" [routerLink]="['/']">Back to Home</button>
            </div>
        </div>
    </div>
</section>
